.card {
  box-shadow: 0 0 30px #ddd;

  &__banner {
    margin-left: -1.5em;
    margin-right: -1.5em;
    margin-top: -1.5em;
    margin-bottom: 1em;

    overflow: hidden;
    max-height: 110px;

    img {
      max-width: 100%;
    }
  }
}

.card-stack[aria-expanded='false'] {
  margin-top: 1em;
  .card {
    box-shadow: 0 0 10px #ddd;
    margin-top: 0;
    position: relative;
    z-index: 2;

    &:nth-child(3),
    &:nth-child(2) {
      height: 12px;
      border-radius: 0 0 5px 5px;
      padding: 0;
      box-shadow: none;
      border: none;
      * {
        display: none;
      }
    }
    &:nth-child(3) {
      margin: 0 20px;
      background: rgba(255,255,255,.4);
      box-shadow: 0 0 3px #eaeaea;
      z-index: 0;
    }

    &:nth-child(2) {
      margin: 0 10px;
      background: rgba(255,255,255,1);
      box-shadow: 0 0 7px #e5e5e5;
      z-index: 1;
    }
  }
}

.card-stack[aria-expanded='true'] {
  margin-top: 1em;
  box-shadow: 0 0 10px #ddd;
  border-radius: 5px;
  overflow: hidden;

  .card {
    box-shadow: none;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0;
    margin-top: 0;
    position: relative;
    z-index: 2;

    &:nth-child(3),
    &:nth-child(2) {
      height: auto;
      padding: 1.5rem;
      box-shadow: none;
    }

    &:nth-child(3) {
      margin: auto;
      background: #ffffff;
      box-shadow: none;
      z-index: 0;
    }

    &:nth-child(2) {
      margin: auto;
      background: #ffffff;
      box-shadow: none;
      z-index: 0;
    }
  }
}