@import "~slick-carousel/slick/slick.css";

.slick-arrow {
  display: none !important;
}

.slick-slider {
  margin-left: -1.5em;
  margin-right: -1.5em;
}

.slick-list {
  overflow: hidden;
}

.slick-slide {
  padding: 0
}

.slick-dots {
  position: relative;
  display: table !important;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  li {
    position: relative;
    display: block;
    float: left;
    margin: 0 6px;
    width: 10px;
    height: 10px;
    cursor: pointer;

    button {
      top: 0;
      left: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      border-radius: 50%;
      background-color: #A7A9AB;
      text-indent: -999em; /* make the text accessible to screen readers */
      cursor: pointer;
      position: absolute;
      -webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
      transition: transform 0.3s ease, background-color 0.3s ease;

      &:focus {
        box-shadow: inset 0 0 0 0.125rem #fff, 0 0 0 0.125rem #006298, 0 0 0 0.3125rem #497ba9;
      }
    }
  }

  .slick-active button {
    background-color: #006298;
  }
}



